@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Condensed:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(44, 35, 35);
}
::-webkit-scrollbar-thumb:hover {
    background: #545454;
    border-radius: 8px;
}
:root{
    --main-color: rgb(3, 192, 3);
    --text-color: #fff;
    --bg-color: #000;
    --color-primary: #191d2b;
    --color-grey-6: #12181b;
}


.container {
    height: 100vh;
    width: 100%;
    background-image: url(img/pic1.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    background-attachment: fixed;
}

.inside {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: .9;
    position: absolute;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100002;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 18px 80px;
    transition: .5s;
}
header.sticky{
    background-color: var(--main-color);
    padding: 8px 80px;
    transition: .3s all linear;
}
header.sticky .logo span{
    color: var(--text-color);
}
header.sticky .navbar a:hover{
    color: var(--bg-color);
}
.logo {
    font-size: 2rem;
    font-weight: 700;
}

.logo span {
    color: var(--main-color);
    
}

#menu-icon {
    display: none;
}

.navbar {
    z-index: 1000;
    display: flex;
    gap: 3.5rem;
}
.navbar li{
    position: relative;
}

.navbar a {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    transition: .2s all linear;
}

.navbar a:hover {
    color: var(--main-color);
}

.para {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
}
.greet{
    font-size: 2.5rem;
}
.name{
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 3px;
}
.name span{
    color: var(--main-color);
}
.details{
    font-size: 3rem;
}
.typing{
    color: var(--main-color);
}

#cv{
    margin-top: 10px;
    padding: 15px 40px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 300;
    border-radius:15px ;
    border: 2px solid var(--main-color);
}
#cv:hover{
    color: var(--main-color);
    background-color: transparent;

}
@media (max-width:995px) {
    header{
        padding: 16px 55px;
    }
    header.sticky{
        padding: 10px 70px;
    }
    .logo{
        font-size: 1.8rem;
    }
    .navbar{
        font-size: 1rem;
        gap: 3rem;
    }
}
@media (max-width:770px){
    header{
        padding: 10px 60px;
    }
    #menu-icon{
        display: initial;
        font-size: 2rem;
    }
    .navbar{
        z-index: 999;
        position: absolute;
        top: -475px;
        right: 0;
        left: 0;
        background-color: var(--text-color);
        display: flex;
        flex-direction: column;
        row-gap: 1.4rem;
        padding: 25px;
        text-align: center;
        transition: .3s all linear;
    }
    .navbar a{
        width: 100%;
        color: var(--bg-color);
    }
    .navbar a:hover{
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
    }
    .navbar.active{
        top: 100%;
    }
    .greet{
        font-size: 2.2rem;
    }
    .name{
        font-size: 4.5rem;
    }
    .details{
        font-size: 2.5rem;
    }
    #cv{
        padding: 10px 30px;
    }
    header.sticky{
        padding: 10px 40px;
    }
}
@media (max-width:560px){
    .name{
        font-size: 4rem;
    }
    #cv{
        padding: 10px 25px;
        font-size: 1.3rem;
    }
    header.sticky{
        padding: 10px 30px;
    }
}
@media (max-width:434px){
    header{
        padding: 10px 60px;
    }
    .logo{
        font-size: 1.5rem;
    }
    .greet{
        font-size: 1.8rem;
    }
    .name{
        font-size: 3.5rem;
    }
    .details{
        font-size: 2.1rem;
    }
    #cv{
        padding: 8px 20px;
        font-size: 1rem;
    }
    header.sticky{
        padding: 8px 25px;
    }
}
@media (max-width:360px){
    header{
        padding: 15px 40px;
    }
    .logo{
        font-size: 1.3rem;
    }
    .greet{
        font-size: 1.3rem;
    }
    .name{
        font-size: 2.8rem;
    }
    .details{
        font-size: 1.6rem;
    }
    #cv{
        padding: 8px 20px;
        font-size: .8rem;
    }
    header.sticky{
        padding: 10px 35px;
    }
}
@media (max-width:286px){
    header{
        padding: 8px 20px;
    }
    .name{
        font-size: 2.5rem;
    }
    header.sticky{
        padding: 10px 30px;
    }
}
/* *************about section*************** */

.container_two {
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-primary);
    border-bottom: 1px solid rgba(67, 67, 1, 0.621);
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 40px;
}
.logo2{
    position: absolute;
    font-size: 4rem;
    font-weight: 700;
    color: rgba(52, 52, 44, 0.439);
    letter-spacing: 7px;
}
#logo2{
    position: absolute;
    font-size: 3.5rem;
    color: var(--text-color);
}
#logo2 span{
    color: var(--main-color);
}

.container_two .text {
    text-align: center;
    padding: 5px 0 0 0;
    font-size: 20px;
    font-weight: 1000;
}

.container_two .text span {
    color: var(--main-color);
}

.container_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-box {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 70vh;
    width: 80%;
}

.card-box .left-bar .img {
    height: 300px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid rgb(49, 48, 48);
}

.card__information {
    margin: 0 10px 50px 10px;
    width: 60%;
}

.card__information-description {
    padding: 10px;
    color: var(--bg-color);
}
#para {
    font-size: 2.2rem;
    padding: 10px;
    color: var(--text-color);
}

#para span {
    color: var(--main-color);
}

#para2 {
    font-size: 1.3rem;
    font-weight:bold;
    color: var(--text-color);
}
.typed{
    color: var(--main-color);
}


@media screen and (max-width: 1180px){
    .card-box .left-bar .img {
        height: 280px;
        width: 220px;
    }
    #para{
        font-size: 2.3rem;
    }
    #para2{
        font-size: 1rem;
    }
}
@media screen and (max-width: 750px) {
    .card-box {
        flex-direction: column;
        gap: 20px;
    }

    .card-box .img {
        margin-top: 10px;
    }

    .card__information-title {
        margin-bottom: 10px;
    }

    #para {
        margin-bottom: 5px;
        font-size: 1.8rem;
    }

    .card__information-description {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .card__information{
        width: 100%;
    }
}
@media (max-width:350px) {
    .logo2{
        font-size: 2.2rem;
    }
    #logo2{
        font-size: 1.8rem;
    }
    #para{
        font-size: 1.4rem;
    }
    .card-box .left-bar .img {
        height: 180px;
        width: 160px;
    }
    
}
@media (max-width:310px) {
    .card-box .left-bar .img {
        height: 150px;
        width: 120px;
    }
    #para{
        font-size: 1.5rem;
    }
    #para2{
        font-size: 1.3rem;
    }
}
/* ********************Project************************ */

.project{
    min-height: 100vh;
    min-width: 100%;
    background-color: var(--color-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(67, 67, 1, 0.621);
}
.project-box{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding: 20px;

}
.box1{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    /* border: 1px solid var(--bg-color); */
    padding: 20px;
    background-image: url(img/pic1.jpg);
}
.box1:hover .box2{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    top: 0;
    left: 0;
    background-color: rgb(55, 0, 255);
    animation:boxing .8s cubic-bezier(.39,.575,.565,1.000)  both
}
@keyframes boxing{
    0%{
        transform:scale(.5)
    }
    100%{
        transform:scale(1)
    }
}

#bg_1{
    background-image: url(img/box/bg_1.jpg);
    background-size: cover;
}
#bg_2{
    background-image: url(img/box/bg_2.jpg);
    background-size: cover;
}
#bg_3{
    background-image: url(img/box/bg_3.jpg);
    background-size: cover;
}
#bg_4{
    background-image: url(img/box/bg_4.jpg);
    background-size: cover;
}
#bg_5{
    background-image: url(img/box/bg_5.jpg);
    background-size: cover;
}
#bg_6{
    background-image: url(img/box/bg_6.jpg);
    background-size: cover;
}


@media (max-width:716px) {
    .project-box{
        width: 90%;
    }
   .box1{
    width: 130px;
    height: 130px;
   }
}
@media (max-width:642px) {
    .project-box{
        padding: 5px;
        gap: 20px;
    }
   .box1{
    width: 90px;
    height: 90px;
   }
}
@media (max-width:310px) {
    .project-box{
        gap: 6px;
    }
   .box1{
    width: 70px;
    height: 70px;
   }
}
/* *-*-*-*-*-*-*-*-*-*-*-*-*-Resume Section*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
.resume{
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-primary);
    border-bottom: 1px solid rgba(67, 67, 1, 0.621);
}

.container_resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--text-color); */
    font-family: 'PT Sans', sans-serif;
}

.container_resume .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


.container_resume .section-title p {
    text-align: center;
    width: 70%;
    font-size: 20px;
    color: var(--text-color);
}

.row {
    padding-top: 50px;
}
.col-lg-6{
    width: 100%;
}
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: 30px;
    border-left: 2px solid var(--main-color);
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: var(--main-color);
    margin-bottom: 10px;
}

.resume .resume-item p,
ul {
    color: var(--text-color);
    padding-right: 20px;
}

.resume .resume-item h5 {
    font-size: 16px;
    color: var(--text-color);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 10px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item #skill {
    list-style: none;
    width: 90%;
}


.resume .resume-item:last-child {
    padding-bottom: 0;
}


.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -10px;
    top: -22px;
    background: var(--tertiary-color);
    border: 2px solid var(--main-color);
}

.resume .resume-item #skill .progress {
    display: flex;
    margin: 10px auto;
    /* width: 400%; */
    /* max-width: 400px; */
    background-color: grey;
    height: 8px;
    border-radius: 10px;
}

.resume .resume-item #skill .progress .progress__bar {
    height: 100%;
    /* min-width: 90%; */
    border-radius: 10px;
    background-color: var(--main-color);
}

.resume .resume-item #skill .progress #html{
    width: 90%;
}

.resume .resume-item #skill .progress #css {
    width: 75%;
}

.resume .resume-item #skill .progress #bs {
    width: 70%;
}

.resume .resume-item #skill .progress #js {
    width: 70%;
}

.resume .resume-item #skill .progress #py {
    width: 50%;
}

.resume .resume-item #skill .progress #dj {
    width: 64%;
}

.resume-title .hobbies {
    display: inline-block;
}


.row {
    display: flex;
    width: 85%;
}

@media screen and (max-width: 800px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .col-lg-6{
        padding: 10px 15px;
    }
}


/* *-*-*-*-*-*-*-*-*-*-*-*-*-Contact Section*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
.contact{
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.middle{
    width: 90%;
    display: flex;
    gap: 200px;

}
.left{
    width: 45%;
}
.left h1, .right h1{
    padding: 20px 15px;
    color: var(--main-color);
    font-size: 2rem;
}
.left p{
    padding: 10px 10px;
    font-size: 1.3rem;
    color: var(--text-color);
}
#profile{
    padding: 20px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-icons{
    font-size: 2.5rem;
    color: var(--main-color);
}
b{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--main-color);
}
.inside_profile p{
    font-size: 1.1rem;
    padding: 5px;
}
.right{
    width: 40%;
}
form{
  padding: 5px 50px 40px 20px;
  width: 80%;
}
/* .main-entries{
    display: flex;
    gap: 50px;
    width: auto;
} */

.entries{
    padding: 10px 0;
}

input,textarea{
    padding: 15px 30px 15px 10px;
    width: 70%;
    outline: none;
    border: 1px solid var(--main-color);
    background: transparent;
    font-size: 1rem;
    border-radius: 10px;
    color: var(--text-color);
}
::placeholder{
    color: var(--text-color);

}
#btn{
    padding: 8px 30px;
    font-size: 1.5rem;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 10px;
    border: 2px solid var(--main-color);
    outline: none;
    transition: .2s;
}
#btn:hover{
    background-color: transparent;
    color: var(--main-color);
}
@media (max-width:869px) {
    .middle{
        display: flex;
        flex-wrap: wrap;
        gap: 34px;
    }
    .left{
        width: 100%;
    }
    .contact-icons{
        font-size: 2rem;
    }
    .right{
        width: 100%;
    }
    form{
        padding: 5px 50px 40px 20px
    }
    .main-entries{
        width: 112%;
    }
}
@media (max-width:400px){
    #btn{
        padding: 8px 20px;
        font-size: 1.2rem;
    }
    .profile{
        flex-wrap: wrap;
    }
}

.footer {
    width: 100%;
    background-color: var(--main-color);
    font-family: 'PT Sans', sans-serif;
}

.footer h1 {
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 1.5em;
}

.footer h1 span {
    color: var(--text-color);
    padding: 0 10px;
}
@media (max-width:516px) {
    .footer h1{
        font-size: 1.2rem;
        padding: 15px;
    }
}
@media (max-width:412px) {
    .footer h1{
        font-size: 1rem;
        padding: 12px;
    }
}
@media (max-width:350px) {
    .footer h1{
        font-size: 0.8rem;
    }
}
